* {
    margin: 0;
    padding: 0;
}

body {
background: radial-gradient(circle, rgb(255, 255, 255) 10%, rgb(0, 0, 0) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh

}
.header {
    
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: red;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font: bold arial, sans-serif;
    background-color: red;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

h2 {
    padding: 0px 10px;
    text-align: center;
    margin-bottom: 20px;
    font: bold arial, sans-serif;
    background-color: red;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
     -moz-background-clip: text;
    background-clip: text;
}

h3 {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 50px;
    font: bold arial, sans-serif;
    background-color: red;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

a {
    font-size: 12px;
}

.container {
    background: rgb(255,255,255);
    padding: 10px 40px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;    
    margin: 20px;
    box-shadow: -2px -1px 31px 5px rgba(0, 0, 0, 0.397);

}

.etch-a-sketch {
    display:flex;
}

.grids {
    width: 660px;
    display:flex;
    justify-content:center;
    align-items: center;
}
.gridshadowbox {
    width: 640px;
    height: 640px;
    border-top: 10px outset #000000;
    border-right: 10px inset #000000;
    border-bottom: 10px inset #000000;
    border-left: 10px outset #000000;
    border-radius: 10px;
    box-shadow: 0px -1px 11px 7px rgba(0,0,0,0.8) inset;
    
    padding: 2px 3px;
    background-color: white;
}

.grid {
    width: 640px;
    height: 640px;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: rgb(151, 151, 151);
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.096);
}

label {
    color: white;
}



button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.404);
}

#fade:focus, #rainbow:focus, #black:focus {
    box-shadow: 0 1px 10px 0 rgba(240, 240, 240, 1);
}

#fade:focus, #rainbow:focus {
    color: white;
}

.buttons {
    display:flex;
    flex-direction: row;
    gap: 20px;
}

.sizes, .colors {
    display:flex;
    flex-direction: column;
    align-items:center;
    margin: auto 0;
}

.white {
    background-color: white;
}

button {
    background-color: black;
    border-radius: 5px;
    color: white;
    text-align: center;
    border:none;
    box-shadow: none;
    margin: 6px;
    padding: 0;
    height: 2rem;
    width: 6rem;
}

#eraser {
    height: 2rem;
    position: relative;
    
}

#rainbow {
    color: black;
    box-shadow: -1px -1px 25px 0px rgba(0,0,0,0.75) inset;
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(113deg, rgba(255,0,0,1) 0%, rgba(255,160,0,1) 22%, rgba(230,255,0,1) 40%, rgba(0,255,6,1) 55%, rgba(6,0,255,1) 76%, rgba(237,0,255,1) 93%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    opacity: .9;
  }
  
  
       
  
  #fade {
    color: black;
    box-shadow: -1px -1px 25px 0px rgba(0,0,0,0.75) inset;    
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(113deg, rgba(0,0,0,1) 0%, rgb(97, 97, 97) 81%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    opacity: .9;
  }

    #colorpicker {
        color: white;
        text-align: center;
        border:none;
        margin: 6px;
        padding: 0;
        height: 2rem;
        width: 6rem;
        box-shadow: none;
        box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.75) inset;
    }
  #white {
    color: black;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    opacity: .9;
    background-color: white;
    border-radius: 100rem;

  }
  
  #white:hover {
    box-shadow: none;
    color: white;
    opacity: .9;
  }

  #black {
      box-shadow: 0px 0px 1px 2px rgba(255, 255, 255, 0.75) inset;
  }

  #black:hover {
      color: white;;
      background-color: rgba(0, 0, 0, 0.808);
  }

  #small, #medium, #large, #eraser {
    color: black;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    opacity: .9;
    background-color: white;
    border-radius: 100rem;
  }

  .ghlink {
      color:black;
      text-decoration:none;
      padding-top: 10px;
      
      
  }

  .footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }


  #small {
      height: 80px;
      width: 80px;
      background-color: black;
      border-radius: 3px;
  }

  #medium {
      width: 27px;
      height: 27px;
      background-color: black;
      border-radius: 3px;
  }

  #large {
      width: 13px;
      height: 13px;
      background-color: black;
      border-radius: 3px;
  }